#!/usr/bin/make -f

build: build-stamp
build-stamp:
	dh_testdir
	$(MAKE) -C $(CURDIR) MAKEARGS=-j4 SOUND=alsa
	$(MAKE) -C $(CURDIR)/../as6800 MAKEARGS=-j4
	$(MAKE) -C $(CURDIR)/../dis6800 MAKEARGS=-j4

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	$(MAKE) -C $(CURDIR) distclean MAKEARGS=-j4 SOUND=alsa
	$(MAKE) -C $(CURDIR)/../as6800 clean
	$(MAKE) -C $(CURDIR)/../dis6800 clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_install
	$(MAKE) -C $(CURDIR) install DESTDIR=$(CURDIR)/debian/pyldin601 MAKEARGS=-j4 SOUND=alsa
	$(MAKE) -C $(CURDIR)/../as6800 install DESTDIR=$(CURDIR)/debian/pyldin601 MAKEARGS=-j4
	$(MAKE) -C $(CURDIR)/../dis6800 install DESTDIR=$(CURDIR)/debian/pyldin601 MAKEARGS=-j4

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdebconf -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_shlibdeps -i
	dh_gencontrol -i
	dh_builddeb -i

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdebconf -a
	# Sort countries (including in translations)
	# MUST be after dh_installdebconf
	dh_strip -a
	dh_compress -a
	dh_fixperms -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
